
html{
    background-color: #82a5e7;
}
/* ---------------------then moi to trinh--------------------------------------------- */



/* --------------------------------------- */
 /* ////////////////////////////// */

 input:focus,
 textarea:focus,
 select:focus{
     outline: none;
 }
 