

/* ---------------------then moi to trinh--------------------------------------------- */



/* --------------------------------------- */
 /* ////////////////////////////// */

 input:focus,
 textarea:focus,
 select:focus{
     outline: none;
 }
 